
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="__IFOOD__/style/foodcar.css">
    <link rel="stylesheet" type="text/css"  href="__IFOOD__/style/food.css" >
    <link rel="stylesheet" type="text/css" href="__ADMIN__/style/bootstrap.css" >
    <link rel="stylesheet" type="text/css" href="__ADMIN__/style/font-awesome.css" >
    <link rel="stylesheet" type="text/css" href="__ADMIN__/style/weather-icons.css" >

    <!--Beyond styles-->
    <link id="beyond-link" href="__ADMIN__/style/beyond.css" rel="stylesheet" type="text/css">
    <link type="text/css" href="__ADMIN__/style/demo.css" rel="stylesheet">
    <link type="text/css" href="__ADMIN__/style/typicons.css" rel="stylesheet">
    <link type="text/css" href="__ADMIN__/style/animate.css" rel="stylesheet">
</head>
<body>
{include file="public/top"}

<div class="total_count">配送订单<em></em></div>
<ul class="cart_list_th clearfix">
    <li class="col01">商品名称</li>
    <li class="col02">商品单位</li>
    <li class="col03">商品价格</li>
    <li class="col04">数量</li>
    <li class="col05">小计</li>
    <li class="col06">操作</li>
</ul>
<form action="{:url('update')}" method="post">
    {volist name="Orderlst" id="row" key="key"}
    <ul class="cart_list_td clearfix">
        <li class="col01"><input type="checkbox" style="width: 50px;height: 50px;"/>{$key}</li>
        <li class="col02"><img src="__IFOOD__/images/{$row.image}"></li>
        <li class="col03">{$row.cname}<br><em>{$row.price}/{$row.unit}</em></li>
        <li class="col04">{$row.unit}</li>
        <li class="col05"><input id="tprice{$key}" value="{$row.price}" style="width: 40px;height: 30px;border: none;text-align: center"disabled/>￥</li>
        <li class="col06">
            {$row.number}
        </li>
        <li class="col07"><input id="thisprice{$key}"  value="{$row.price*$row.number}" style="width: 30px;height: 30px;border: none;text-align: center"disabled/>￥</li>
        <li class="col08"><a href="javascript:;" onClick="warning('确实签收吗？', 'assure?id={$row.id}')">确认签收</a></li>
    </ul>
    {/volist}



    <ul class="settlements">
        <li class="col04"><input type="submit" value="查看配送地图"/></li>
    </ul>
</form>
<script src="__ADMIN__/style/jquery_002.js"></script>
<script src="__ADMIN__/style/bootstrap.js"></script>
<script src="__ADMIN__/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__ADMIN__/style/beyond.js"></script>
</body>
</html>
